<header>
    <!-- Меню (навигация) -->
    <nav class="w3-bar w3-light-blue">
        <a href="/" class="w3-bar-item w3-button w3-hover-blue">Каталог рецептов</a>
        <a href="/favorite/" class="w3-bar-item w3-button w3-hover-blue">Любимые рецепты</a>
        <a href="/about/" class="w3-bar-item w3-button w3-hover-blue">О нас</a>
        <a href="/admin/" class="w3-bar-item w3-button w3-hover-blue">Админ панель</a>
        <a href="/user_form_test/" class="w3-bar-item w3-button w3-hover-blue">User form</a>
        <a href="/ingredients/" class="w3-bar-item w3-button w3-hover-blue">Редактировать ингредиенты</a>
        <a href="/auth/login/" class="w3-bar-item w3-button w3-hover-blue">Войти</a>
        <a href="/auth/logout/" class="w3-bar-item w3-button w3-hover-blue">Выйти</a>
    </nav>
</header>