<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Описание сайта. Страница 'О нас'">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>О нас</title>
    </head>
    <body>
        {% include "blocks/header.html" %}

        <main>
            <h1 style="padding-left: 16px;">О нас</h1>
            <div class="w3-container">
                <p>Этот сайт был создан для того, чтобы делиться самыми вкусными идеями и открыть вам мир кулинарных возможностей.</p>
            </div>
        </main>

        {% include "blocks/footer.html" %}
    </body> 
</html>