<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Каталог рецептов">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>Каталог рецептов</title>

    </head>
    <body>
        {% include "blocks/header.html" %}

        <main>
            <h1  style="padding-left: 16px;">Каталог рецептов</h1>
            <a href="/recipe/" class="w3-button w3-light-blue w3-hover-blue" style="border-radius: 10px; padding: 10px; padding-left: 20px; padding-right: 20px;">Добавить</a>
            <div class="w3-container">
                {% if recipe_list %}
                    Найдено рецептов: {{ recipe_list|length }}
                {% endif %}

                <ul class="w3-ul">
                    {% for recipe in recipe_list %}
                    <li class="w3-hover-light-blue"><a href="/recipe_details/{{recipe.id}}/">{{recipe.name}}</a></li>
                    {% empty %}
                    <li>Рецепты скоро будут здесь..</li>
                    {% endfor %}
                </ul>
            </div>
        </main>

        {% include "blocks/footer.html" %}
    </body> 
</html>